# Ignore everything
*

# Allow files and directories
!/dist/**
!package*.json
!node_modules/.prisma/client
# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
# **/*~
# **/*.log