# Add files here to ignore them from prettier formatting

/apps/api/src/app/prisma/generated/
/apps/api/src/app/auth/casl/generated.ts
/libs/graphql/src/lib/client/possible-types.ts
/libs/graphql/src/lib/apollo-angular.ts
/theme/bootstrap/_light-variables.scss
/theme/bootstrap/_dark-variables.scss
.angular
*.html
*.yml
*.yaml
*.md
*.hbs

/dist
/coverage
/.nx/cache
/.nx/workspace-data