<zen-layout>
  <div slot="toolbar-start" >
    <i class="fa-solid fa-dice-d20 me-2"></i>
    Zen
  </div>

  <div slot="toolbar-end">
    <zen-login-link [displayLogout]="false"/>
  </div>

  <div slot="menu-toolbar">
    Menu
  </div>

  <div slot="menu-content">
    <mat-nav-list *ifLoggedIn="false">
      <a mat-list-item routerLink="/">
        <i class="fa-solid fa-fw fa-home me-2"></i>
        Home
      </a>

      <a mat-list-item routerLink="/unity">
        <i class="fa-solid fa-fw fa-gamepad me-2"></i>
        Unity
      </a>

      <a mat-list-item routerLink="/login">
        <i class="fa-solid fa-fw fa-key me-2"></i>
        Login
      </a>
    </mat-nav-list>

    <mat-nav-list *ifLoggedIn="true">
      <a mat-list-item routerLink="/portal/dashboard">
        <i class="fa-solid fa-fw fa-desktop me-2"></i>
        Dashboard
      </a>

      <a mat-list-item routerLink="/unity">
        <i class="fa-solid fa-fw fa-gamepad me-2"></i>
        Unity
      </a>

      <a mat-list-item routerLink="/portal/settings">
        <i class="fa-solid fa-fw fa-gear me-2"></i>
        Settings
      </a>

      <a mat-list-item routerLink="/portal/super" *roles="['Super']">
        <i class="fa-solid fa-fw fa-user-shield me-2"></i>
        Super
      </a>

      <hr>

      <a mat-list-item (click)="auth.logout()">
        <i class="fa-solid fa-fw fa-sign-in-alt me-2"></i>
        Logout
      </a>
    </mat-nav-list>
  </div>

  <div slot="main-content">
    <router-outlet></router-outlet>
  </div>
</zen-layout>