<zen-layout>
  <div slot="toolbar-start" >
    <i class="fas fa-dice-d20 me-2"></i>
    Zen
  </div>

  <div slot="toolbar-end">
    <zen-login-link></zen-login-link>
  </div>

  <div slot="menu-toolbar">
    Menu
  </div>

  <div slot="menu-content">
    <ng-container *ifLoggedIn="false">
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <i class="fas fa-fw fa-home me-2"></i>
          Home
        </a>
        <a mat-list-item routerLink="/login">
          <i class="fas fa-fw fa-key me-2"></i>
          Login
        </a>
      </mat-nav-list>
    </ng-container>

    <ng-container *ifLoggedIn="true">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">
          <i class="fas fa-fw fa-desktop me-2"></i>
          Dashboard
        </a>

        <a mat-list-item routerLink="/super" *roles="'Super'">
          <i class="fas fa-fw fa-user-shield me-2"></i>
          Super
        </a>
      </mat-nav-list>
    </ng-container>
  </div>

  <div slot="content" style="height: calc(100% - 64px)">
    <router-outlet></router-outlet>
  </div>
</zen-layout>
