<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Zen</a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <div class="navbar-nav mr-auto">
        <div class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Zen Software</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <code>
      {{ apolloQuery$ | async | json }}
    </code>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>