// http://mcg.mbitson.com/#!?zen=%2300ffff
$zen-primary: (
  50: #e0ffff,
  100: #b3ffff,
  200: #80ffff,
  300: #4dffff,
  400: #26ffff,
  500: #00ffff,
  600: #00ffff,
  700: #00ffff,
  800: #00ffff,
  900: #00ffff,
  A100: #ffffff,
  A200: #f2ffff,
  A400: #bfffff,
  A700: #a6ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Sandstone: http://mcg.mbitson.com/#!?zen=%238bc34a
$zen-accent: (
  50: #f1f8e9,
  100: #dcedc9,
  200: #c5e1a5,
  300: #aed580,
  400: #9ccc65,
  500: #8bc34a,
  600: #83bd43,
  700: #78b53a,
  800: #6eae32,
  900: #5ba122,
  A100: #ebffdd,
  A200: #ceffaa,
  A400: #b0ff77,
  A700: #a2ff5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
