// http://mcg.mbitson.com/#!?mcgpalette0=%2300ffff
$zen-primary: (
  50: #e0ffff,
  100: #b3ffff,
  200: #80ffff,
  300: #4dffff,
  400: #26ffff,
  500: #00ffff,
  600: #00ffff,
  700: #00ffff,
  800: #00ffff,
  900: #00ffff,
  A100: #ffffff,
  A200: #f2ffff,
  A400: #bfffff,
  A700: #a6ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23e83e8c
$zen-accent: (
  50: #fce8f1,
  100: #f8c5dd,
  200: #f49fc6,
  300: #ef78af,
  400: #eb5b9d,
  500: #e83e8c,
  600: #e53884,
  700: #e23079,
  800: #de286f,
  900: #d81b5c,
  A100: #ffffff,
  A200: #ffdae5,
  A400: #ffa7c2,
  A700: #ff8db1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
