// http://mcg.mbitson.com/#!?zen=%2300ffff
$zen-primary: (
  50: #e0ffff,
  100: #b3ffff,
  200: #80ffff,
  300: #4dffff,
  400: #26ffff,
  500: #00ffff,
  600: #00ffff,
  700: #00ffff,
  800: #00ffff,
  900: #00ffff,
  A100: #ffffff,
  A200: #f2ffff,
  A400: #bfffff,
  A700: #a6ffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// http://mcg.mbitson.com/#!?zen=%2389ff00
$zen-accent: (
  50: #f1ffe0,
  100: #dcffb3,
  200: #c4ff80,
  300: #acff4d,
  400: #9bff26,
  500: #89ff00,
  600: #81ff00,
  700: #76ff00,
  800: #6cff00,
  900: #59ff00,
  A100: #ffffff,
  A200: #f6fff2,
  A400: #d2ffbf,
  A700: #bfffa6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
