$zen-font: mat-typography-config(
  $font-family: $zen-main-font,
  $display-4: mat-typography-level(112px, 112px, 300, $zen-headings-font),
  $display-3: mat-typography-level(56px, 56px, 400, $zen-headings-font),
  $display-2: mat-typography-level(45px, 48px, 400, $zen-headings-font),
  $display-1: mat-typography-level(34px, 40px, 400, $zen-headings-font),
  $headline: mat-typography-level(24px, 32px, 400, $zen-headings-font),
  $title: mat-typography-level(20px, 32px, 500, $zen-headings-font),
  $subheading-2: mat-typography-level(16px, 28px, 400, $zen-headings-font),
  $subheading-1: mat-typography-level(15px, 24px, 400, $zen-headings-font),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 300, $zen-headings-font),
  $input: mat-typography-level(inherit, 1.125, 400),
);
