@use '@angular/material' as mat;
@use '../font' as font;

$zen-typography: mat.define-typography-config(
  $font-family: font.$zen-default,
  $headline-1: mat.define-typography-level(112px, 112px, 300, $font-family: font.$zen-heading),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $font-family: font.$zen-heading),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $font-family: font.$zen-heading),
  $headline-4: mat.define-typography-level(34px, 40px, 400, $font-family: font.$zen-heading),
  $headline-5: mat.define-typography-level(24px, 32px, 400, $font-family: font.$zen-heading),
  $headline-6: mat.define-typography-level(20px, 28px, 400, $font-family: font.$zen-heading),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400, $font-family: font.$zen-heading),
  $subtitle-2: mat.define-typography-level(15px, 24px, 400, $font-family: font.$zen-heading),
  // $body-1: mat.define-typography-level(14px, 24px, 500),
  // $body-2: mat.define-typography-level(14px, 20px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400, $font-family: font.$zen-heading),
  $button: mat.define-typography-level(14px, 14px, 500, $font-family: font.$zen-heading),
);
