$zen-brand: 'zen-brand';
$zen-plain: 'zen-plain';

@font-face {
  font-family: 'zen-brand';
  src: url('/assets/font/euro-ext.woff2') format('woff2');
}

@font-face {
  font-family: 'zen-plain';
  src: url('/assets/font/euro-ukr.woff2') format('woff2');
}
