$zen-heading: 'zen-heading';
$zen-default: 'zen-default';

@font-face {
  font-family: 'zen-heading';
  src: url('~/assets/font/euro-ext.woff2') format('woff2');
}

@font-face {
  font-family: 'zen-default';
  src: url('~/assets/font/euro-ukr.woff2') format('woff2');
}
