$zen-headings-font: 'euro-ext';
$zen-main-font: 'euro-ukr';

@font-face {
  font-family: 'euro-ext';
  src: url('/assets/font/euro-ext.woff2') format('woff2');
}

@font-face {
  font-family: 'euro-ukr';
  src: url('/assets/font/euro-ukr.woff2') format('woff2');
}
