$primary-palette-name: cyan;
$secondary-palette-name: pink;
$theme-type: dark;

@import '@progress/kendo-theme-material/dist/all.scss';

// Change icon colors of buttons in the grid
.k-form,
.k-grid {
  input,
  button,
  .k-button {
    color: #00ffff;
  }
}

// Fixes vertical alignment of <k-grid> select mode checkboxes
.k-grid td > .k-checkbox {
  vertical-align: inherit;
}

// Brighten form labels on focus
.k-floating-label-container.k-focus > .k-label {
  color: white;
}

// Narrow Kendo filter
.k-grid .k-filter-row td {
  padding: 0 0 0 5px;
}

// // Narrow Kendo headers
// .k-grid-header .k-header > .k-link {
//   padding: 16px 10px;
// }

// .k-pager-nav {
//   background-color: #333333;
// }

// // Fixes items per page drop down text being cut off within the <zen-grid> pager
// .k-pager-sizes .k-input-inner {
//   min-width: 100px;
// }

// .k-grid .k-icon-button,
// .k-grid .k-button.k-button-icon {
//   width: inherit;
//   padding: 8px 0;
// }

// // Fix html editor
// .zen-html,
// .k-editor .k-editor-content {
//   line-height: 1.5em;

//   p {
//     margin: 0;
//   }
// }

// .k-editor-content > .ProseMirror {
//   padding: 0 16px;
// }
// // End

// .k-form .k-form-field {
//   margin-top: 0;
// }

// button.k-button i.fas {
//   margin-top: 3px;
// }
