// https://github.com/telerik/kendo-themes/blob/develop/packages/material/README.md

$primary-palette-name: cyan;
$secondary-palette-name: pink;
$theme-type: dark;

@import '@progress/kendo-theme-material/dist/all.scss';
