// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'palette';
@import '~@angular/material/theming';

.mat-button-base {
  white-space: normal !important;
}

[mat-icon-button] {
  cursor: pointer;

  mat-icon:hover {
    transition: color 0.5s ease, font-size 0.5s;
    font-size: 170%;
  }
}

@include mat-core();

$euro-font: mat-typography-config(
  $font-family: 'euro-ukr',
  $display-4: mat-typography-level(112px, 112px, 300, 'euro-ext'),
  $display-3: mat-typography-level(56px, 56px, 400, 'euro-ext'),
  $display-2: mat-typography-level(45px, 48px, 400, 'euro-ext'),
  $display-1: mat-typography-level(34px, 40px, 400, 'euro-ext'),
  $headline: mat-typography-level(24px, 32px, 400, 'euro-ext'),
  $title: mat-typography-level(20px, 32px, 500, 'euro-ext'),
  $subheading-2: mat-typography-level(16px, 28px, 400, 'euro-ext'),
  $subheading-1: mat-typography-level(15px, 24px, 400, 'euro-ext'),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 300, 'euro-ext'),
  $input: mat-typography-level(inherit, 1.125, 400),
);

// Available color palettes: https://material.io/design/color/
$zen-app-primary: mat-palette($zen-primary); // Custom _palette.scss
$zen-app-accent: mat-palette($zen-accent); // Custom _palette.scss

$zen-dark-theme-foreground: (
  base: $body-color,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: $body-color,
  icons: $body-color,
  text: $body-color,
  slider-min: $body-color,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$zen-dark-theme-background: (
  status-bar: black,
  app-bar: $gray-800,
  background: $body-bg,
  hover: rgba(white, 0.04),
  card: $gray-800,
  dialog: $gray-800,
  disabled-button: rgba(white, 0.12),
  raised-button: $gray-800,
  focused-button: $light-focused,
  selected-button: $gray-900,
  selected-disabled-button: $gray-800,
  disabled-button-toggle: black,
  unselected-chip: $gray-700,
  disabled-list-option: black,
  tooltip: $gray-700,
);

// The warn palette is optional (defaults to red).
$zen-app-warn: mat-palette($mat-red);

$zen-app-theme: mat-dark-theme(
  (
    color: (
      primary: $zen-app-primary,
      accent: $zen-app-accent,
      warn: $zen-app-warn,
      foreground: $zen-dark-theme-foreground,
      background: $zen-dark-theme-background,
    ),
  )
);

@include angular-material-theme($zen-app-theme);
@include angular-material-typography($euro-font);
