@use './material/dark/theme';
// @use './material/light/theme';
@use './font';
@import './bootstrap/dark-variables';
// @import './bootstrap/light-variables';
@import './bootstrap/bootstrap';

body {
  min-height: 100vh;
  font-family: font.$zen-plain;
}

:root {
  // Angular Material sidenav background colors
  --mat-sidenav-container-background-color: #{$gray-900};
  --mat-sidenav-content-background-color: #{$gray-900};

  // Angular Material dialog background
  --mdc-dialog-container-color: #{$gray-800};
}

// zen-snackbar-error background
.snackbar-error {
  --mdc-snackbar-container-color: #{$danger};
}

// Horizontal scrollbar fix for Bootstrap grids overflowing within Angular Material sidenav
.row {
  --bs-gutter-x: 0;
}

// Bootstrap card header font & no margins on header HTML elements
.card-header {
  font-family: font.$zen-brand;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
