@use './material/dark/theme';
// @use './material/light/theme';
@use './font';
@import './bootstrap/dark-variables';
// @import './bootstrap/light-variables';
@import './bootstrap/bootstrap';

body {
  min-height: 100vh;
  font-family: font.$zen-default;
}

// Angular Material sidenav background
.mat-sidenav-container,
.mat-sidenav {
  background-color: $body-bg;
}

// Angular Material dialog background
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #{$gray-800};
}

// zen-snackbar-error background
.snackbar-error {
  --mdc-snackbar-container-color: #{$danger};
}

// Horizontal scrollbar fix for Bootstrap grids overflowing within Angular Material sidenav
.row {
  --bs-gutter-x: 0;
}
