$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// http://mcg.mbitson.com/#!?mcgpalette0=%232c3e50
$zen-primary: (
  50: #e6e8ea,
  100: #c0c5cb,
  200: #969fa8,
  300: #6b7885,
  400: #4c5b6a,
  500: #2c3e50,
  600: #273849,
  700: #213040,
  800: #1b2837,
  900: #101b27,
  A100: #68abff,
  A200: #358fff,
  A400: #0272ff,
  A700: #0067e7,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// http://mcg.mbitson.com/#!?mcgpalette0=%2395a5a6
$zen-accent: (
  50: #f2f4f4,
  100: #dfe4e4,
  200: #cad2d3,
  300: #b5c0c1,
  400: #a5b3b3,
  500: #95a5a6,
  600: #8d9d9e,
  700: #829395,
  800: #788a8b,
  900: #67797b,
  A100: #f3fdfe,
  A200: #c2f7fc,
  A400: #8cf4ff,
  A700: #73f2ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23e74c3c
$zen-warn: (
  50: #fceae8,
  100: #f8c9c5,
  200: #f3a69e,
  300: #ee8277,
  400: #eb6759,
  500: #e74c3c,
  600: #e44536,
  700: #e03c2e,
  800: #dd3327,
  900: #d7241a,
  A100: #ffffff,
  A200: #ffd9d7,
  A400: #ffa8a4,
  A700: #ff8f8b,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
