// http://mcg.mbitson.com/#!?zen=%2321365c
$zen-primary: (
  50: #e4e7eb,
  100: #bcc3ce,
  200: #909bae,
  300: #64728d,
  400: #425474,
  500: #21365c,
  600: #1d3054,
  700: #18294a,
  800: #142241,
  900: #0b1630,
  A100: #6c8fff,
  A200: #3969ff,
  A400: #0642ff,
  A700: #0039eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Sandstone: http://mcg.mbitson.com/#!?zen=%235c4721
// Grey:      http://mcg.mbitson.com/#!?zen=%23666666
$zen-accent: (
  50: #ededed,
  100: #d1d1d1,
  200: #b3b3b3,
  300: #949494,
  400: #7d7d7d,
  500: #666666,
  600: #5e5e5e,
  700: #535353,
  800: #494949,
  900: #383838,
  A100: #7d7d7d,
  A200: #666666,
  A400: #5e5e5e,
  A700: #535353,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
