$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// http://mcg.mbitson.com/#!?mcgpalette0=%2300ffff
$zen-primary: (
  50: #e4e7eb,
  100: #bcc3ce,
  200: #909bae,
  300: #64728d,
  400: #425474,
  500: #21365c,
  600: #1d3054,
  700: #18294a,
  800: #142241,
  900: #0b1630,
  A100: #6c8fff,
  A200: #3969ff,
  A400: #0642ff,
  A700: #0039eb,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23e83e8c
$zen-accent: (
  50: #ededed,
  100: #d1d1d1,
  200: #b3b3b3,
  300: #949494,
  400: #7d7d7d,
  500: #666666,
  600: #5e5e5e,
  700: #535353,
  800: #494949,
  900: #383838,
  A100: #7d7d7d,
  A200: #666666,
  A400: #5e5e5e,
  A700: #535353,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// node_modules/@angular/material/core/theming/_palette.scss
$zen-warn: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
